
select.i2c-address {
    width: 70px; 
    margin-bottom: 2px;
}

input.i2c-address {
    width: 50px;
}

input.i2c-note {
    width: 300px; 
}

.angle-edit-width {
    width: 40px; 
}

select.i2c-channel{
    width: 60px; 
}

table.actuator-components th {
    text-align: left;
}


table.servo-sliders td.servo-slider {
    position: relative;
}

.servo-sliders div.current-label {
    position: absolute;
    bottom: -20px;  /* Adjust this value to ensure the label sits correctly */
    left: 50%;
    transform: translateX(-50%);  /* This centers the label under the slider */
    text-align: center;
    margin-top: 5px;  /* adjust as needed */    
}


table.servo-sliders td.slider-label {
    width: 70px;
    text-align: center; /* centers the label text */
    vertical-align: middle; /* aligns the text vertically */
}

table.servo-sliders td.servo-slider {
    width: 340px;
}


.servo-sliders input[type="range"] {
    width: 100%;  /* Let the slider take up the full width of its container */
}


td.servo-slider {
    overflow: visible;
}


.servo-slider {
    height: 4px;
    line-height: 4px; /* This will help vertically align content in cells */
}

.response-row {
    height: 50px; /* Adjust as needed */
}



/* Base styles for the no-track-color range input */
.no-track-color::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;            /* Reduced width */
    height: 12px;           /* Reduced height */
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;       /* Adjusted margin-top for centering */
}  

.no-track-color::-moz-range-thumb {
    width: 12px;            /* Reduced width */
    height: 12px;           /* Reduced height */
    border-radius: 50%;
    cursor: pointer;
}

.no-track-color::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: gray;
    border-radius: 2px;
}

.no-track-color::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: gray;
    border-radius: 2px;
}

.no-track-color {
    width: 600px; 
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 2px 0;
}

/* Separate class for the thumb color */

.min-angle::-webkit-slider-thumb {
    background-color: green;
}

.min-angle::-moz-range-thumb {
    background-color: green;
}

.max-angle::-webkit-slider-thumb {
    background-color: rgb(101, 6, 6); /* Adjusted to distinguish max-angle from min-angle */
}

.max-angle::-moz-range-thumb {
    background-color:  rgb(101, 6, 6)/* Adjusted to distinguish max-angle from min-angle */
}

.angle-value::-webkit-slider-thumb {
    background-color: blue;
}

.angle-value::-moz-range-thumb {
    background-color: blue;
}

.error-text {
    color: red;
}

.toggle-triangle {
    cursor: pointer;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid black; /* This will create an upward pointing triangle */
    transition: transform 0.3s; /* This will animate the toggle */
}


.toggle-triangle.collapsed {
    transform: rotate(-90deg); 
}

.gray-diamond {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray;
    clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
}

.green-upward-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid green;
}

.green-downward-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid green;
}

.pin-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

td.pin-state div.api-response {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;  /* Optional: Add some space between the arrow and the text */
    width: 200px;
}

div.item-status {
    margin-left: 5px; 
    margin-right: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;    
}

span.item-found {
    color: green;
}

span.item-not-found {
    color: red;
}




.actuator-hash { grid-area: hash; }
.actuator-nickname { grid-area: nickname; }

.retract-header { grid-area: retract; }
.retract-unload { grid-area: unload; }
.retract-step { grid-area: rstep; }
.retract-step-n { grid-area: rstepn; }
.retract-nsteps { grid-area: rnsteps; }
.retract-speed { grid-area: rspeed; }

.advance-header { grid-area: advance; }
.advance-unload{ grid-area: load; }
.advance-step{ grid-area: astep; }
.advance-step-n { grid-area: astepn; }
.advance-nsteps { grid-area: ansteps; }
.advance-speed { grid-area: aspeed; }

.actuator-actions-sep1 {grid-area: sep1; width: 30px;}
.actuator-actions-sep2 {grid-area: sep2; width: 30px;}

.actuator-actions-grid  {
    display: grid;
    grid-template-areas:
      'nickname nickname nickname nickname nickname hash    hash      hash'
      'retract  unload   sep1     rstep    sep2     rstepn  rnsteps   rspeed'
      'advance  load     sep1     astep    sep2     astepn  ansteps   aspeed';
    gap: 2px;
  }

/*
.advance-nsteps,
.retract-nsteps {
    display: flex;
    align-items: center; / * vertically centers the children elements * /
}
*/

div.advance-load,
div.retract-unload,
.advance-load button,
.retract-unload button {
    width: 64px; 
}


div.advance-step-n button,
.retract-step-n button,
.advance-step-n button,
.retract-step-n button {
    width: 50px;
}

div.advance-step-n,
div.retract-step-n {
    width: 50px;
}

div.advance,
div.retract,
.advance-nsteps select,
.retract-nsteps select {
    width: 80px;
}


.advance-speed select,
.retract-speed select {
    width: 120px;
}



/*
.actuator-actions-grid > div {
  text-align: center;
  padding: 2px 0;
}
*/




