/* Generic styling for width adjustments */
.i2c-dropdown-width {
    width: 70px; 
}

.angle-edit-width {
    width: 40px; 
}

.channel-dropdown-width {
    width: 60px; 
}

.servo-sliders table {
    width: 100%;
}

.servo-sliders td.slider-label {
    width: 80px; 
}

td.servo-sliders {
    width: 600px;
}

/* Base styles for the no-track-color range input */
.no-track-color::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;            /* Reduced width */
    height: 12px;           /* Reduced height */
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;       /* Adjusted margin-top for centering */
}  

.no-track-color::-moz-range-thumb {
    width: 12px;            /* Reduced width */
    height: 12px;           /* Reduced height */
    border-radius: 50%;
    cursor: pointer;
}

.no-track-color::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: gray;
    border-radius: 2px;
}

.no-track-color::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: gray;
    border-radius: 2px;
}

.no-track-color {
    width: 600px; 
    -webkit-appearance: none;
    width: 100%;
    margin: 15px 0;
}

/* Separate class for the thumb color */

.min-angle::-webkit-slider-thumb {
    background-color: green;
}

.min-angle::-moz-range-thumb {
    background-color: green;
}

.max-angle::-webkit-slider-thumb {
    background-color: rgb(101, 6, 6); /* Adjusted to distinguish max-angle from min-angle */
}

.max-angle::-moz-range-thumb {
    background-color:  rgb(101, 6, 6)/* Adjusted to distinguish max-angle from min-angle */
}

.angle-value::-webkit-slider-thumb {
    background-color: blue;
}

.angle-value::-moz-range-thumb {
    background-color: blue;
}
