recursive-include octoprint_chromatofore/templates *
recursive-include octoprint_chromatofore/translations *
recursive-include octoprint_chromatofore/static *
recursive-include octoprint_chromatofore/data *
