
<!-- octoprint_chromatofore/templates/chromatofore_tab.html -->
<!-- Note: variable names from get_template_vars must be prefixed by plugin_chromatofore_ -->

<div>
<h1>Control the Chromatofore Filament Exchanger</h1>
<div>Version - {{ plugin_chromatofore_version }} </div>



<a href="#" data-bind="click: goToChromatoforeSettings">Go to Settings</a>



<h2>Earwig Filament Actuators</h2>
<div>The actuators can load and unload filament from the 3d printer.  
    This requires the extruder to be disenaged.  
    Unloading filament requires the hot end to be at temperature.
</div>

<div class="actuator-actions-table">

    <div data-bind="foreach: actuators">
        <h3 class="small"><span data-bind="text: id"></span></h3>

        <div class="actuator-actions-grid">
            <div class="actuator-actions-sep1"></div> 
            <div class="actuator-actions-sep2"></div> 
            <!-- Header row-->
            <div class="actuator-hash">Hash - <span data-bind="text: hashCode()"></span></div>
            <div class="actuator-nickname">Nickname - <span data-bind="text: id"></span></div>
            
            <!-- Retract row-->
            <div class="retract-header">Retract</div>
            <div class="retract-unload">
                <button data-bind="click: function() { 
                    actuator_command(
                        'unload_filament', 
                        hashCode(), 
                        {
                            speed: {qualitive: selectedSpeedToRetract()} 
                        }); }">Unload</button>
            </div>
            <div class="retract-step">
                <button data-bind="click: function() { 
                    actuator_command(
                        'retract_filament', 
                        hashCode(), 
                        {
                            stop_at: {step: 1},
                            speed: {qualitive: selectedSpeedToRetract()} 
                        }); }">Step Back</button>
            </div>
            <div class="retract-step-n">
                <button data-bind="click: function() { 
                    actuator_command(
                        'retract_filament', 
                        hashCode(), 
                        {
                            stop_at: {step: selecteNumStepsToRetract()},
                            speed: {qualitive: selectedSpeedToRetract()}    
                        }); }">Retract</button>
            </div>
            <div class="retract-nsteps">
                <select data-bind="value: selecteNumStepsToRetract">
                    <option value="2">2 steps</option>
                    <option value="3">3 steps</option>
                    <option value="4">4 steps</option>
                    <option value="5">5 steps</option>
                    <option value="6">6 steps</option>
                    <option value="7">7 steps</option>
                    <option value="8">8 steps</option>
                    <option value="9">9 steps</option>
                    <option value="10">10 steps</option>
                    <option value="20">20 steps</option>                    
                </select>
            </div>
            <div class="retract-speed">
                <select data-bind="value: selectedSpeedToRetract">
                    <option value="slow">slowly</option>
                    <option value="moderate">moderately</option>
                    <option value="brisk">briskly</option>
                    <option value="quick">quickly</option>
                </select>
            </div>
            
            <!-- Advance row-->
            <div class="advance-header">Advance</div>
            <div class="advance-load">
                               
                <button data-bind="click: function() { 
                    $parent.loadFilament(
                        hashCode(), 
                        {
                            speed: {
                                qualitive: selectedSpeedToAdvance()
                            }
                        }
                    ); 
                }">Load</button>
            </div>  
            <div class="advance-step">
                <button data-bind="click: function() { 
                    actuator_command(
                        'advance_filament', 
                        hashCode(), 
                        { 
                            stop_at: {step: 1}, 
                            speed: {qualitive: selectedSpeedToAdvance()}
                        }
                    ); }">Step Foreward</button>
            </div>
            <div class="advance-step-n">
                <button data-bind="click: function() { 
                    actuator_command(
                        'advance_filament', 
                        hashCode(), 
                        {
                            stop_at: {step: selecteNumStepsToAdvance()},
                            speed: {qualitive: selectedSpeedToAdvance()}
                        }
                    ); }">Advance</button>
            </div>
            <div class="advance-nsteps">
                <select data-bind="value: selecteNumStepsToAdvance">
                    <option value="2">2 steps</option>
                    <option value="3">3 steps</option>
                    <option value="4">4 steps</option>
                    <option value="5">5 steps</option>
                    <option value="6">6 steps</option>
                    <option value="7">7 steps</option>
                    <option value="8">8 steps</option>
                    <option value="9">9 steps</option>
                    <option value="10">10 steps</option>
                    <option value="10">10 steps</option>
                    <option value="20">20 steps</option>                        
                </select>
            </div>
            <div class="advance-speed">
                <select data-bind="value: selectedSpeedToAdvance">
                    <option value="slow">slowly</option>
                    <option value="moderate">moderately</option>
                    <option value="brisk">briskly</option>
                    <option value="quick">quickly</option>
                </select>
            </div>
            
        </div>        
    </div>

</div>
<!-- 
<div class="modal fade" id="filamentMoveModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"> -->
<div class="modal-container" id="filamentMoveModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"><span data-bind="text: filamentMoveModal.title()"></span></h5>
            </div>
            <div class="modal-body">
                
                <div class="progress">
                    <div class="bar" data-bind="style: { width: filamentMoveModal.progressPercentage() + '%' }"></div>
                </div>

                <div class="filament-move-status-report">
                    <div>
                        <span class="fnsr-label">Step:</span><span data-bind="text: filamentMoveModal.step()"></span> of 
                        <span data-bind="text: filamentMoveModal.nsteps()"></span>
                    </div>
                    <div>
                        <span class="fnsr-label">Pusher Position:</span>
                        <span data-bind="text: filamentMoveModal.pusher_position()"></span>
                        <span>Limit Switch:</span>
                        <span class="pusher-limit-switch led" data-bind="css: filamentMoveModal.pusher_limit_switch_is_triggered() ? 'led-lit' : 'led-unlit'"></span>
                    </div>
                    <div>
                        <span class="fnsr-label">Pusher Position:</span> <span data-bind="text: filamentMoveModal.pusher_position"></span>
                    </div>                    
                    <div>
                        <span class="fnsr-label">Rate (mm/sec):</span> <span data-bind="text: filamentMoveModal.rate_in_mm_per_sec"></span>
                    </div>
                    <div>
                        <span class="fnsr-label">Servo Moves:</span><span data-bind="text: filamentMoveModal.servo_move_count"></span>
                    </div>
                    

                    <div class="filament-sensor">
                        <span class="fnsr-label">Filament Sensed</span>
                        <span class="led" data-bind="css: filamentMoveModal.filament_sensed() ? 'led-lit' : 'led-unlit'"></span> 
                    </div>                 
                </div>                              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click: filamentMoveModal.cancelTask">Cancel Task</button>
            </div>
        </div>
    </div>
</div>

</div>



    

