<!-- octoprint_chromatofore/templates/chromatofore_settings.jinja2 -->

<div>
    <h4>Chromatofore Filament Changer Settings</h4>
    
    <h5>PCF8574 8 Channel GPIO Board Addresses</h5>

    <div> These boards are used to sense limit switches used for end stops and filament detectors </div>

    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: gpioBoards">
            <tr>
                <td>
                    <input type="text" data-bind="textInput: addressInput, event: { change: $parent.updateAddressFromInput }" placeholder="Enter I2C address (in hex)">
                </td>
                <td>
                    <button data-bind="click: $parent.removeGpioBoard">Remove</button>
                    <button data-bind="click: function(){ $parent.validateI2cBoard(address) }">Validate</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button data-bind="click: addGpioBoard">Add GPIO Board</button>

    <h5>PCA9685 16 Channel PWM Driver Board Addresses</h5>
    <div> These boards are used to control hobby servos used to clamp and push filament. </div>

    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: servoBoards">
            <tr>
                <td>
                    <input type="text" data-bind="textInput: addressInput, event: { change: $parent.updateAddressFromInput }" placeholder="Enter I2C address (in hex)">
                </td>
                <td>
                    <button data-bind="click: $parent.removeServoBoard">Remove</button>
                    <button data-bind="click: function(){ $parent.validateI2cBoard(address) }">Validate</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button data-bind="click: addServoBoard">Add Servo Board</button>

    <h5>Earwig Filament Actuators</h5>
    <div>The actuators can load and unload filament from the 3d printer.  
        This requires the extruder to be disenaged.  
        Unloading filament requires the hot end to be at temperature.</div>

    <table> 
        <tbody data-bind="foreach: actuators"> 
        <tr>
            <td>Actuator Name</td><td><input type="text" data-bind="textInput: id"></td>
        </tr>
        <tr>
            <td>
                <table> 
                    <thead> 
                        <tr> 
                            <th>Component</th> 
                            <th>Board</th> 
                            <th>Channel</th> 
                            <th>Minimum</th> 
                            <th>Maximum</th> 
                            <th>Actions</th> 
                        </tr> 
                    </thead> 
            

                    <tr data-bind="with: pusher">
                        <td>Pusher Servo</td> 
                        <td>    
                            <select class="i2c-dropdown-width" 
                            data-bind=
                                "options: $root.availableServoBoards, 
                                value: boardInput, 
                                optionsCaption: 'Choose...'">
                            </select>
                        </td> 
                        <td><input class="channel-edit-width" type="text" data-bind="textInput: channel"></td> 
                        <td><input class="angle-edit-width" type="text" data-bind="textInput: min_angle"></td> 
                        <td><input class="angle-edit-width" type="text" data-bind="textInput: max_angle"></td> 
                    </tr>  

                    <tr data-bind="with: moving_clamp">
                        <td>Moving Clamp Servo</td> 
                        <td>    
                            <select class="i2c-dropdown-width" data-bind="options: $root.availableServoBoards, 
                            value: board, 
                            value: boardInput, 
                            optionsCaption: 'Choose...'">
                            </select>
                        </td> 
                        <td><input class="channel-edit-width" type="text" data-bind="textInput: channel"></td> 
                        <td><input class="angle-edit-width" type="text" data-bind="textInput: min_angle"></td> 
                        <td><input class="angle-edit-width" type="text" data-bind="textInput: max_angle"></td> 
                    </tr> 

                    <tr data-bind="with: fixed_clamp">
                        <td>MovingFixed Clamp Servo</td> 
                        <td>    
                            <select class="i2c-dropdown-width" data-bind="options: $root.availableServoBoards, 
                            value: board, 
                            value: boardInput, 
                            optionsCaption: 'Choose...'">
                            </select>
                        </td> 
                        <td><input class="channel-edit-width" type="text" data-bind="textInput: channel"></td> 
                        <td><input class="angle-edit-width" type="text" data-bind="textInput: min_angle"></td> 
                        <td><input class="angle-edit-width" type="text" data-bind="textInput: max_angle"></td> 
                    </tr>                     
                </table> 
            </td>                           
        </tr>             
        </tbody> 
    </table>    


</div>
